/* About selection */

.about {
    padding-bottom: 94px;
}

.about-list {
    display: flex;
    flex-wrap: wrap;
}

.about-list__item {
    position: relative;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.about-list__txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}