/* Main section */
.banner {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--secondary-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner-bg.jpg);
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.banner__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.banner__btn {
    align-items: center;
    text-align: center;
    border-style: none;
    padding: 10px 32px;
    min-height: 50px;
    min-width: 200px;
    border: 0 solid;
    border-radius: 4px;
    font-family: inherit;
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--blue-color);
        }
}
