/* Team section */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--light-color);
}

.team-list {
    display: flex;
}

.team-list__item {
    border: none;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
}

.card-set {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

.team__txt {
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    color: var(--grey-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media__item:not(:last-child) {
    margin-right: 10px;
}

.social-media__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--grey-txt-color);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--white-color);
            background-color: var(--primary-color);
            outline: none;
        }
}

.social-media__link__icon {
    fill: currentColor;
}
