:root {
    --primary-color: #2196F3;
    --secondary-color: #2F303A;
    --dark-color: #212121;
    --grey-color: #757575;
    --grey-txt-color: #AFB1B8;
    --light-color: #F5F4FA;
    --white-color: #ffffff;
    --blue-color: #188CE8;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}