.logo {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-right: 92px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.footer-logo {
    display: block;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

.logo--dark {
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo--light {
    color: var(--white-color);
}